html {
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}

body{
	background-color: rgb(240,248,255);
}
#header{
	display: flex;
	align-items: center;
	margin-left: -8px;
	margin-top: -8px;
	position: fixed;
	width: 100%;
	background-color: rgb(240,248,255);
}

#header-img{
	height: 100px;
	width: 150px;
	padding-top: 20px;
	margin-left: 80px;
}

#nav-bar {
	margin-left: 30%; 
	margin-right: 0%;
	font-size: 20px;
}

@media (max-width: 1100px) {
	#nav-bar{
		display: flex;
		flex-direction: column;
	}
}

#form {
	flex-direction: column;
	display: flex;
	align-items: center;
}

#email {
	height: 30px;
	width: 300px;
	margin-bottom: 15px;
	font-size: 15px;
}

#submit {
	width: 200px;
	height: 30px;
	background-color: rgb(145,81,23);
	margin-bottom: 30px;
	font-size: 15px;
}

#video {
	margin-left: 28%;
	margin-top: 75px;
}

#pricing {
	display: flex;
	justify-content: space-between;
	margin-right: 13%;
	margin-left: 13%;
	margin-top: 75px;
}
#features{
	display: flex;
	margin-right: 150px;
	margin-left: 50px;
	margin-top: 75px;
}
#cupPic {
	height:150px;
	width:140px;
	margin-right: 70px;
	margin-left: 95px;
	padding-top: 15px;

}
.nav-link {
	padding-left: 100px;
	color: black;
	text-decoration: none;

}

.title {
	padding-top: 100px;
	text-align: center;
}

.purchase {
	border: 1px solid black;
	width: 300px;
	height: 300px;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 20px;
}

.coffeetype {
	background-color: rgb(163,169,173);
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: -100px; 
	margin-right: -100px;
}

.buy {
	margin-bottom: 0px;
	background-color: rgb(145,81,23);
	height: 40px;
	width: 100px;
	font-size: 18px;
}

.footer { 
	padding-left: 65%;
	margin-top: 50px;
 }

.footerNav{
	padding-left: 20px;
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.copyright {
	margin-top: 4px;
	margin-left: 19px;
}


